<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="jQuery" version="3.1.1" targetFramework="xamarinios10" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="xamarinios10" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="xamarinios10" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="3.13.8" targetFramework="xamarinios10" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="xamarinios10" />
  <package id="RestSharp" version="105.2.3" targetFramework="xamarinios10" />
  <package id="Rg.Plugins.Popup" version="1.0.4" targetFramework="xamarinios10" />
  <package id="SampleDependency" version="1.0.0" targetFramework="xamarinios10" />
  <package id="Xamarin.Build.Download" version="0.4.1" targetFramework="xamarinios10" />
  <package id="Xamarin.Facebook.iOS" version="4.18.0.1" targetFramework="xamarinios10" />
  <package id="Xamarin.Firebase.iOS.Analytics" version="3.6.0" targetFramework="xamarinios10" />
  <package id="Xamarin.Firebase.iOS.Core" version="3.4.5" targetFramework="xamarinios10" />
  <package id="Xamarin.Firebase.iOS.InstanceID" version="1.0.8" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms" version="2.3.4.184-pre1" targetFramework="xamarinios10" />
  <package id="Xamarin.Google.iOS.Core" version="3.0.3.2" targetFramework="xamarinios10" />
  <package id="Xamarin.Google.iOS.SignIn" version="4.0.1.1" targetFramework="xamarinios10" />
  <package id="ZXing.Net.Mobile" version="2.1.47" targetFramework="xamarinios10" />
  <package id="ZXing.Net.Mobile.Forms" version="2.1.47" targetFramework="xamarinios10" />
</packages>